body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
   width: auto;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: grey;
   color: white;
}

#company-logo {
   width: 25%;
   margin-left: 50px;
   font-size: 30px;
}

#top-left-menu {
   width: 20%;
   display: flex;
   justify-content: space-evenly;
}

.black-box {
   width: auto;
   height: 400px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.black-box p {
   color: rgb(224, 224, 103);
   font-size: 80px;
   font-weight: bolder;
   
}

.white-box {
   width: auto;
   height: 1300px;
   display: flex; 
   flex-direction: column;
   justify-content: space-evenly;
}

.parent-of-teal-boxes {
   height: 20%;
   width: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.teal-boxes {
   width: 300px;
   height: 300px;
   background-color: rgb(112, 214, 156);
   border-radius: 15px;
}

.parent-orange-boxes {
   width: auto;
   height: 20%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.orange-boxes {
   width: 45%;
   height: 300px;
   background-color: orange;
}

.bottom-two-boxes {
   width: auto;
   height: 20%;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   margin-top: 50px;
}

#image {
   max-height: 400px;
   max-width: 300px;
   margin-right: 350px;
}

#text-box {
   max-width: 600px;
   max-height: 400px;
   font-size: 30px;
   
}

footer {
   width: auto;
   height: 90px;
   background-color: rgb(55, 36, 68);
   margin-top: 150px;
}
